@model CategoryViewModel

<div class="container">
    <p>
        <h1>Create Category</h1>
    </p>

    <div class="card card-body col-8 border border-secondary">
        <div class="row">
            <form method="post">
                <fieldset>
                    <div class="form-group mx-2 p-0">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input class="form-control" asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group mx-2 mt-3 col-8">
                        <button type="submit" class="btn btn-primary" asp-controller="Category" asp-action="Add">
                            Create
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>